<% if (items.length == 0){%>
    <h1 class="text-center">No items in your shopping list!</h1>
    <img src="https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="img-fluid" alt="Responsive image">
<% } else if (items==null) { %>
    No items in your shopping list!
<% } else if (items.length>0) { %>
<h1>The shopping list are</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Delete</th>
            <th>Update</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (item of items) {
        const id = item["_id"];
         %>
      <tr class="mb-2">
        <td><a href="/shoppingList/delete/<%= id %>">Delete</a></td>
        <td><a href="/updateForm/<%= id %>">Update</a></td>
        <td><Strong><%= item["name"] %></Strong></td>
        <td><%= item["price"] %></td>
        <td><%= item["date"] %></td>
        <td>
            <%= item["category"] %>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
<% } %>